<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a id="logo" class=" navbar-brand" href="/"><h4>Blog Application</h4></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mx-3">
      <li class="nav-item active pr-5">
        <a class=" nav-link"  href="/">Home </a>
      </li>
    </ul>
      <a href="/articles/new" class=" btn btn-outline-light my-2 my-sm-0 mr-5 ml-5">New Post</a>
    
  </div>
</nav>